* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 12vh;
    display: grid;
    position: fixed;
    background-color: orange;
    z-index: 10;
    opacity: 50%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    color: white;
    left: 10vh;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    padding: 5px;
    position: relative;
}

.head:hover {
    outline: 1.5px solid black;
    color: black;
    border-radius: 10px;
}

ul {
    right: 20vh;
    padding: 20px;
    position: relative;
}

ul a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 0px 10px 0px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul a:hover {
    text-decoration: underline 2px solid;
    color: black;
}

#home {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.info {
    position: relative;
    width: 700px;
    top: 8vh;
}

.info h1 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 22vh;
    font-size: 35px;
    padding: 10px;
}

.info h1 span {
    margin-left: 10px;
    color: orange;
}

.info h2 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 22vh;
    left: -3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info h2 span {
    color: orange;
    margin: 0px 10px;
}

.info h3 {
    position: relative;
    display: flex;
    justify-content: center;
    top: 24vh;
    left: -6.9vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info p {
    position: relative;
    display: flex;
    justify-content: center;
    top: 9vh;
    font-size: 18px;
    padding: 106px;
    left: 5vw;
    opacity: 60%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact {
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: orange;
    width: 9vw;
    padding: 7px 5px;
    left: 13vw;
    top: -6vh;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
}


.info a:hover {
    background-color: transparent;
    color: black;
    outline: 2px solid black;
}

.logos {
    position: relative;
    display: flex;
    height: 47px;
    top: 6vh;
    left: 10vw;
    width: 15vw;
}

.logo {
    display: flex;
    position: relative;
    width: 5vw;
    margin: 12px 5px;
    justify-content: center;
    height: 30px;
}

.logo:hover {
    outline: 1px solid black;
    border-radius: 10px;
}

.image {
    background-image: url(Netaji2.jpg);
    background-size: 245px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 580px;
    display: flex;
    justify-content: center;
    top: 8vh;
}

.image p {
    z-index: 1;
    color: transparent;
    display: flex;
    position: relative;
    height: 70vh;
    top: 15vh;
    right: -0.1vw;
    width: 19.3vw;
    align-items: end;
    justify-content: end;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.image p:hover {
    top: 21vh;
    right: -5vw;
    color: black;
    border: 2px solid black;
    border-image: linear-gradient(to bottom right, transparent, black) 50/2px/2;
    background-color: transparent;
}

#about {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.image1 {
    width: 580px;
    height: 100vh;
    background-image: url(Netaji6.jpg);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: 80px center;
    position: relative;
}

.image1 p {
    position: relative;
    top: 16vh;
    left: 6.3vw;
    width: 300px;
    height: 401px;
    font-size: 22px;
    line-height: 47px;
    z-index: 20;
    font-weight: bold;
    color: transparent;
    transition: 0.3s linear;
}

.image1 p:hover {
    top: 16vh;
    left: 6.3vw;
    width: 468px;
    border: 1px solid black;
    background-color: transparent;
    color: orange;
    padding-left: 25vw;
    border-image: linear-gradient(to right, white, black) 2/2px;
}

.intro {
    width: 700px;
    height: 100vh;
    padding-left: 45px;
    padding-right: 20px;
}

.intro h1 {
    position: relative;
    top: 13vh;
    letter-spacing: 2px;
}

.intro h1 span {
    color: orange;
    margin-left: 4px;
}

.intro h2 {
    position: relative;
    top: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.intro h2 span {
    color: orange;
}

.intro p {
    position: relative;
    top: 25vh;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

.intro p span {
    color: orange;
}

.intro h4 {
    position: relative;
    top: 26vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 60%;
}

#skills {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.skill {
    width: 700px;
    height: 100vh;
}

.skill h1 {
    position: relative;
    top: 13vh;
    left: 5vw;
    letter-spacing: 2px;
}

.skill h1 span {
    color: orange;
    margin-left: 4px;
}

.box1 {
    position: relative;
    width: 65%;
    background-color: white;
    height: 70vh;
    top: 16vh;
    left: 8vw;
}

.box1 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin-bottom: 20px;
    opacity: 70%;
}

.info2 {
    height: 10vh;
    border: 2px solid black;
    margin: 10px;
    padding: 0px 5px;
}

.info3 {
    padding-top: 10px;
    padding-left: 5px;
}

.info3 p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.info3 p span {
    position: relative;
}

.info2 .bar {
    margin-top: 10px;
    height: 5px;
    width: 100%;
    background: rgb(212, 194, 162);
    position: relative;

}

.info2 .bar1::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 115, 0);
    width: 90%;
}

.info2 .bar2::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 115, 0);
    width: 70%;
}

.info2 .bar3::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 115, 0);
    width: 40%;
}

.info2 .bar4::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 115, 0);
    width: 50%;
}

.info2 .bar5::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(255, 115, 0);
    width: 60%;
}

.skill .more {
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: orange;
    width: 11vw;
    padding: 7px 5px;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    top: 16vh;
    left: 8.6vw;
}

.skill a:hover {
    background-color: transparent;
    color: black;
    outline: 2px solid black;
}

.language {
    width: 580px;
    height: 100vh;
}

.language .img {
    position: absolute;
    height: 110px;
    transform: rotate(30deg);
}

.language .imga1 {
    top: 20vh;
    left: 59vw;
}

.language .imga2 {
    top: 45vh;
    left: 73vw;
}

.language .imga3 {
    top: 20vh;
    left: 87vw;
}

.language .imga4 {
    top: 75vh;
    right: 32vw;
}

.language .imga5 {
    top: 75vh;
    left: 87vw;
}

.language .img:hover {
    height: 145px;
    transform: rotateY(0deg);
}

#contact {
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
}

.mail {
    width: 553px;
    height: 80vh;
}

.mail h1 {
    position: relative;
    top: 12vh;
    left: 5vw;
    letter-spacing: 2px;
}

.mail h1 span {
    color: orange;
    margin-left: 4px;
}

.mail h3 span {
    color: orange;
    margin-left: 4px;
}

.mail h3 {
    top: 18vh;
    position: relative;
    left: 6vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 80%;
}

.mail .name {
    position: relative;
    left: 7vw;
    top: 21vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
}

.mail img {
    margin-right: 25px;
}

.mail .mail1 {
    position: relative;
    left: 7vw;
    top: 23vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
}

.mail .address {
    position: relative;
    left: 7vw;
    top: 25vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
}

.mail .phoneno {
    position: relative;
    left: 7vw;
    top: 27vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: 70%;
}

.mail img {
    height: 20px;
}

.mail .Resume {
    display: flex;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: orange;
    width: 15vw;
    padding: 7px 5px;
    top: 42vh;
    left: 7vw;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
}

.mail a:hover {
    background-color: transparent;
    color: black;
    outline: 2px solid black;
}

.form {
    width: 600px;
    height: 80vh;
}

.form h3 {
    position: relative;
    top: 18vh;
    left: 5vw;
    font-size: 22px;
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    opacity: 70%;
}

.form .name10 {
    position: relative;
    top: 23vh;
    left: 10vw;
    width: 33.7%;
    height: 6vh;
    padding-left: 10px;
    border: 2px solid orange;
    outline: none;
}

.form .email10 {
    position: relative;
    top: 23vh;
    left: 11vw;
    width: 33.7%;
    height: 6vh;
    padding-left: 10px;
    border: 2px solid orange;
    outline: none;
}

.form .subject10 {
    position: relative;
    top: 27vh;
    width: 70%;
    left: 10vw;
    height: 6vh;
    padding-left: 10px;
    border: 2px solid orange;
    outline: none;
}

.form .message10 {
    position: relative;
    top: 31vh;
    left: 10vw;
    padding-left: 10px;
    border: 2px solid orange;
    outline: none;
}

.form button {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 6px;
    top: 37vh;
    left: 10vw;
    border: none;
    position: relative;
    text-decoration: none;
    color: white;
    background-color: orange;
    width: 16vw;
    padding: 7px 5px;
    font-family:'Times New Roman', Times, serif;
}

.form button:hover {
    background-color: transparent;
    color: black;
    outline: 2px solid black;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    position: relative;
}

.footer .logo10 img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 0px 30px 0px 30px;
    opacity: 70%;
}

.footer .logo10 img:hover {
    outline: 2px solid black;
    border-radius: 5px;
    opacity: 100%;
}